# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# pytest
.pytest_cache/
.coverage
htmlcov/

# IPython
.ipynb_checkpoints

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
